In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ipysheet import from_dataframe, to_dataframe
from ipywidgets import Text, VBox, link

In [2]:
data = pd.read_csv("list_studens_pooi_203.csv")
del data['Unnamed: 0']
data.index = [i for i in range(1, 31)]
data.head()

,Alumno,23/3,27/3,30/3,3/4,6/4,10/4,13/4,17/4,20/4,...,8/6,12/6,15/6,19/6,22/6,26/6,29/6,3/7,6/7,10/7
1,"Atamari Aldazabal, Owen Rivaldo",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,"Barreda Galvez, Tania Araceli",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,"Bernal Flores, Kendra Ysabel",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,"Bolaños Gainsborg, Franco Jesús",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,"Carbajal Valverde, Rafael",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [3]:
sheet = from_dataframe(data)

search_box = Text(description='Search:')
link((search_box, 'value'), (sheet, 'search_token'))
VBox((search_box, sheet))

VBox(children=(Text(value='', description='Search:'), Sheet(cells=(Cell(choice=[], column_end=0, column_start=…

In [5]:
df_alumnos_con = to_dataframe(sheet)

df_alumnos_con.to_csv('each_day_list_studens_pooi_203.csv')